<div class="main">
    <h1>Cocteles</h1>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Coctel</span>
            <input type="text"  [(ngModel)]="coctel" class="form-control" placeholder="Escribe el nombre de un coctel" aria-label="Username" aria-describedby="basic-addon1" required>
            <button class="btn btn-success" (click)="buscarBebida()">Buscar la bebida</button>
          </div>
    <div *ngIf="bandera==1  else noCoctel">
        <div class="card" style="width: 18rem;">
            <img src="{{aux.strImageSource}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{aux.strDrink}}</h5>
              <p class="card-text">{{aux.strInstructions}}</p>
            </div>
          </div>
    </div>
    <ng-template #noCoctel>
        
    </ng-template>
</div>
